<div class="container">
	<div class="col-lg-12 col-sm-6">
		<div class="card hovercard">
			<div class="card-background">
				<img class="card-bkimg" alt="" src="http://lorempixel.com/100/100/people/9/">
			</div>
			<div class="useravatar">
				<img alt="" src="http://lorempixel.com/100/100/people/9/">
			</div>
			<div class="card-info"> <span class="card-title">Pamela Anderson{{data.username}}</span>
			</div>
		</div>
		<br>
	</div>
</div>
<!-- <img src="../assets/img.png"> -->
<carousel>
  <slide>
    <img src="../assets/img.png" alt="First slide">
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <img src="../assets/img.png" alt="Second slide">
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide>
    <img src="../assets/img.png" alt="Third slide">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
</carousel>
