<h4 class="card-header text-center">Coding Ninja</h4>
<div class="card-body d-flex justify-content-between">
    <small>
        software
    </small>
    <small class="text-muted">
        Henri Pietila
    </small>
</div>
<div class="container">
    <p class="card-text"> I will make you an app. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. </p>
    <p class="card-text"> 30JD per hour</p>
    <a href="#" class="btn btn-primary">More Details</a>
    <p> </p>
</div>