<div class="container">
  <div class="jumbotron">
      <h1 class="display-3">Welcome to Kteer! </h1>
      <h1 class="display-3">مرحبا بكم في العديد!</h1>
      <p class="lead justify-content-center">Connecting People for work</p>
  </div>
</div>
<div>
  <h3 class="d-flex justify-content-center">Feautured Listings</h3>
</div>

<div class="container">
 <div class="row card-group">      
    <div *ngFor="let listing of selectedListings" class="col-3">
      <app-listings-entry  class="card" ></app-listings-entry>
    </div>
  </div>
</div>




